@import "tailwindcss";

@tailwind utilities;

@theme {
  --font-playwrite: "Alex Brush", cursive;
  --font-bodoni: "Bodoni Moda SC", serif;
  --font-poppins: "Poppins", serif;

  --color-primary-01: #5b4636;
  --color-primary-02: #e7e2db;
  --color-primary-03: gray-800;
}

@layer utilities {
  .font-playwrite {
    font-family: var(--font-playwrite);
  }
  .font-bodoni {
    font-family: var(--font-bodoni);
  }
  .font-poppins {
    font-family: var(--font-poppins);
  }

  .bg-motif {
    background-image: url("./assets/motif2.webp");
    background-size: contain;
    background-position: center;
  }
  .bg-motif2 {
    background-image: url("./assets/galeri/gambar1.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}
